{% extends "auctions/layout.html" %}

{% block body %}
    <h2 class="text-center font-weight-bold">Active Listings</h2>

    {% for product in listings %}
        <div class="d-flex justify-content-center mt-5">
            <div class="card text-center" style="width: 18rem;">
                <img class="card-img-top" src="{{ product.imageURL }}" alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title font-weight-bold">{{ product.title }}</h5>
                    <p class="card-text">{{ product.description }}</p>
                    <p class="card-text font-weight-bold">Category: {{ product.category }}</p>
                    <a href="{% url 'listing' id=product.id %}" class="btn btn-primary">Make a Bid</a>
                </div>
            </div>
        </div>
    {% endfor %}
{% endblock %}